html {
    background: linear-gradient( 135deg, rgba(30, 81, 117, 0.9), rgba(16, 177, 224, 0.9) );
    font-family: 'JetBrainsMonoNerdFont', sans-serif;
}

.dronepage-form-title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
}

.dronepage-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dronepage-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #e3f6fc;
}

.dronepage-form-content {
    width: 100%;
    margin-bottom: 20px;
}

.dronepage-form-group {
    margin-bottom: 14px;
}

.dronepage-form-label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-left: 2px;
    padding-bottom: 2px;
}

.dronepage-form-button {
    display: block;
    width: 100%;
    max-width: 369px;
    padding: 10px;
    background-color: #DF8B67;
    border: 1px solid #BA7658;
    border-radius: 3px;
    color: #111;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;
    font-family: 'JetBrainsMonoNerdFont', sans-serif;
}

    .dronepage-form-button:hover {
        background-color: #BA7658;
    }

.dronepage-form-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}
