@import "../styles/Fonts.css";

.dronepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(30, 81, 117, 0.9), rgba(16, 177, 224, 0.9));
    font-family: "JetBrainsMonoNerdFont", sans-serif;
}

.dronepage__underline {
    width: 460px;
    height: 6px;
    background-color: #df8b67;
    margin: 10px auto;
    margin-top: -30px;
}

.dronepage-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

    .dronepage-close-button:hover {
        background-color: #e0e0e0;
    }

.dronepage-content {
    width: 350px;
    padding: 20px;
    background-color: #e3f6fc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dronepage-detail {
    margin-bottom: 15px;
}

.dronepage-detail-label {
    font-weight: bold;
    margin-right: 5px;
}

.dronepage-image-bottom {
    margin-top: 60px;
    width: 25%;
    height: auto;
}

.dronepage-content-not-found {
    width: 256px;
    padding: 20px;
    background-color: #e3f6fc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dronepage__underline-not-found {
    width: 240px;
    height: 6px;
    background-color: #df8b67;
    margin: 10px auto;
    margin-top: -30px;
}

.dronepage-image-container {
    position: relative;
    display: inline-block;
    margin-top: 64px;
}

.dronepage-image-bottom-not-found {
    width: 100%;
    height: auto;
}
