@import '../styles/Fonts.css';

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(30, 81, 117, 0.9), /* #1E5175 with 80% opacity */
    rgba(16, 177, 224, 0.9) /* #10B1E0 with 80% opacity */
  );
  font-family: 'JetBrainsMonoNerdFont', sans-serif;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-content {
  width: 350px;
  padding: 20px;
  background-color: #e3f6fc;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.login-form-logo {
  display: block;
  width: 200px;
  margin: 0 auto 20px;
  margin-bottom: -40px;
  text-align: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
}

.login-form-title {
  text-align: center;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form-button {
  width: 100%;
  padding: 10px;
  background-color: #DF8B67;
  border: 1px solid #BA7658;
  border-radius: 3px;
  color: #111;
  font-family: 'JetBrainsMonoNerdFont', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form-button:hover {
  background-color: #BA7658;
}

.login-form-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-form-signup-section {
  text-align: center;
  position: relative;
  margin-top: -16px;
}

.login-form-signup-text {
  margin-bottom: 10px;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  color: #e3f6fc;
}

.login-form-signup-text::before,
.login-form-signup-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 92px;
  height: 1px;
  background-color: #ccc;
}

.login-form-signup-text::before {
  right: 100%;
}

.login-form-signup-text::after {
  left: 100%;
}

.login-form-signup-button {
  display: block;
  width: 369px;
  padding: 10px;
  background-color: #e3f6fc;
  border-radius: 3px;
  color: #111;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form-signup-button:hover {
  background-color: #5F828C;
}
